/*
-Reglas
selctores {..}
declaraciones
propiedades
valores
*/

/* Selector de etiquedas Ej; header - section-article etx*/
/* header {
    background: pink;
    color: red;
} */
/*Selector descendente */
/*body header, div, nav, ol, li, a,  */
/*Selector clase . */
/* .link */
/* Selector ID . */
/* #portafolio */

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic */
}

h1 {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    text-transform: uppercase;
    text-decoration: dashed;
}